Electrolysis360/bin/Debug/net9.0/Electrolysis360.dll
Electrolysis360/bin/Debug/net9.0/Electrolysis360.exe
Electrolysis360/bin/Debug/net9.0/Newtonsoft.Json.dll
Electrolysis360/bin/Debug/net9.0/System.Net.WebSockets.WebSocketProtocol.dll
